
<li class=" uk-card uk-card-hover uk-card-default uk-card-body headline" data-id={{_id}}>
  <h4 id="headline-"{{_id}} class="uk-article-title" data-id={{_id}} href="#">{{title}}</h4>
  {{#if isSaved}}
  <button class='uk-button uk-button-danger remove-save-article' data-article-id={{_id}}>Removed from Saved</button>
  {{else}}
  <button class='uk-button uk-button-primary save-article' data-article-id={{_id}}  >Save Article</button>
  {{/if}}
  <button class="uk-button uk-button-secondary add-view-notes"  data-article-id={{_id}}  uk-toggle="target: #notes-container-{{_id}}; animation: uk-animation-slide-top-small">View/Add Notes</button>
  <div class="" >
  <p class="uk-text-lead">{{summary}}</p>
      <div class="">
        <p><a href={{url}}>{{url}}</a></p>
          {{> note/index}}
      </div>
  </div>

</li>