{{!-- <li id='headline-{{_id}}'>
  <h3 class='title'>{{title}}</h3>
  <p><a href={{url}}>{{url}}</a></p>
  <p>{{summary}}</p>
</li>
 --}}

<article class="uk-card uk-card-default uk-card-body headline" id="headline-"{{_id}}>
  <h3 class="uk-card-title  title">{{title}}
  </h3>
    <p><a href={{url}}>{{url}}</a></p>
    <p>{{summary}}</p>
    {{#each articleNotes}}
        {{> note/note-block}}
    {{/each}}
</article>
